#player-area,
#gamemaster-area {
    width: 100%;
}

#question {
    font-size: x-large;
}

#answer {
    font-size: x-large;
}

svg {
    transform: rotate(-90deg);
    display: block;
    margin: 0 auto;
}

circle {
    fill: none;
    stroke-width: 12;
    stroke-linecap: round;
}

.background {
    stroke: #eee;
}

.progress {
    transition: stroke-dashoffset 1s linear;
    stroke: red;
    stroke-dashoffset: 0;
    stroke-dasharray: 565.48;
}

#countdown {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
    color: white;
}

body {
    background: linear-gradient(270deg, #071622, #0a2342, #0d2a58, #0a2342, #071622);
    background-size: 800% 800%;
    animation: gradientShift 60s ease infinite;
}

@keyframes gradientShift {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
